- extends "base.haml"
- load static
- load inclusions

- block title
  Generate

- block scripts
  %script{src: "{% static 'js/generate.js' %}"}

- block content
  %h1.mb-0
    Enter
    %span.text-primary Player ID

  %br

  <!--  Alert: No agent  -->
  %div#agentDisconnectedAlert.alert.alert-danger{role: "alert", style: "display: none;"}
    ⚠️ Agent lost connection! Make sure that the agent is sill running and is connected to the right ID.

  <!--  Alert: Invalid Player ID  -->
  %div#invalidIdAlert.alert.alert-danger{role: "alert", style: "display: none;"}
    %span.mr-3 ⚠️ Invalid player ID. Can't be empty and can only contain of numbers.
    %button.close{type: "button", data-dismiss: "alert", aria-label: "close"}
      %span{aria-hidden: "true"}&times;

  <!--  Alert: Player not found  -->
  %div#playerNotExistAlert.alert.alert-danger{role: "alert", style: "display: none;"}
    %span.mr-3 ⚠️ No player exists for this ID or his account is private.
    %button.close{type: "button", data-dismiss: "alert", aria-label: "close"}
      %span{aria-hidden: "true"}&times;

  %br
  %br

  %span
    Enter your DotA2 ID.

  %br
  %br

  <!--  Form: Id input  -->
  %form#playerIdForm
    %div.form-group
      %input#playerIdField.form-control{"aria-describedby": "playerIdHelp", placeholder: "Your Player ID", name: "playerId"}
      %small#playerIdHelp.form-text.text-muted

    %button#enterBtn.btn.btn-primary.p-2.pl-5.pr-5{onclick: "formSubmit()", disabled} Enter

  %hr.mt-5.mb-5

  %h2.mb-0
    Player
    %span.text-primary Information

  %br

  <!--  Alert: Download in progress  -->
  %div#downloadInProgressAlert.alert.alert-success{role: "alert", style: "display: none;"}
    Data download in progress. Take a look at your client for more information.

  %br

  <!--  Player information  -->
  - include_playerinfo

  %div.container
    %div.row
      <!--  Start download button  -->
      %div.col-xl-5
      %div.col-xl-6
        %button#startDownloadBtn.btn.btn-primary.p-2.pl-5.pr-5{onclick: "startGeneration()", disabled}
          %span.h3.text-white-50
            Start Downloading
          %span#startDownloadLoader.spinner-border.ml-2{style: "display: none;"}

  %br
  %br
  %br
  %br
  %br
